<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weekend Project 4</title>
    <link rel="stylesheet" href="stylesheet.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="vendors/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="client.js" charset="utf-8"></script>
  </head>
  <body>
    <h2>Teddy's To Do List</h2>
    <input type="text" id="choreIn" name="choreIn" value="" placeholder="Enter your chore">
    <button type="submitChore" id="submitChore" name="submitChore">Submit Chore</button>

    <div id="outputDiv"></div>

  </body>
</html>
